

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button{
    cursor: pointer;
}

.side_panel{
    background: black;
    width: 250px;
    height: 100%;   
    overflow-x: hidden;
    position: fixed; 
    transition:  .4s;
    left: -100%;
    
    .panelclose{
        position: absolute;
        top: 0;
        right: 20px;
    }
    nav{
        padding-top: 50px;
        a{
            display: block;
            text-decoration: none;
            padding: 10px 40px;
            font-size: 30px;
            color: white;
    }

}
}
main{
    transition:  .4s ease-in-out;
    h1{
        padding: 20px 5px;
}
    p{
        padding-left: 5px;
}
}

.panel_close{
    left: 0;
    
}

.main_close{
    margin-left: 250px;
    transition: .4s ease-in-out;
}

.closed {
    display: none}